{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生求职管理系统</title>
    <link rel="stylesheet" href="{% static 'Plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    {% block css %} {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home/">学生求职管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.info_dict.limits == 1 %}
                    <li><a href="{% url 'school_list_name' %}">学校管理</a></li>
                    {#                    <li><a href="{% url 'major_list_name' %}">专业管理</a></li>#}
                    <li><a href={% url "student_list_name" %}>学生管理</a></li>
                    <li><a href={% url 'enterprise_list_name' %}>企业管理</a></li>
                    <li><a href={% url 'school_enterprise_list_name' %}>招聘管理</a></li>
                {% elif request.info_dict.limits == 0 %}
                    <li><a href="{% url 'student_upload_resume_name' %}">{{ request.info_dict.school }}</a></li>
                    <li><a href="{% url 'student_check_resume_name' %}">查看本人简历</a></li>
                    <li><a href="{% url 'student_first_job_fair_name' %}">第一届招聘会</a></li>
                    <li><a href="{% url 'student_second_job_fair_name' %}">第二届招聘会</a></li>
                    <li><a href="{% url 'student_third_job_fair_name' %}">第三届招聘会</a></li>
                {% elif request.info_dict.limits == 2 %}
                    <li><a href={% url 'enterprise_check_resume_name' %}>查看投递</a></li>
                    <li><a href={% url 'enterprise_resume_pass_list_name' %}>通过简历</a></li>
                    <li><a href={% url 'enterprise_resume_not_pass_list_name' %}>人才库简历</a></li>
                {% elif request.info_dict.limits == 3 %}
                    <li><a href="{% url 'school_student_list_name' %}">学生管理</a></li>
                    {#                    <li><a href="{% url 'school_major_list_name' %}">专业管理</a></li>#}
                    <li><a href="{% url 'school_enterprise_list_name' %}">招聘企业管理</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.info_dict.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/edit/{{ request.info_dict.id }}/">个人资料</a></li>
                        <li><a href="/edit/password/">修改密码</a></li>
                        <li><a href="javascript:void(0);" onclick="deleteAction({{ request.info_dict.id }});">注销</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{#删除提示框#}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close"></button>
            <h4>是否确定删除</h4>
            <p style="margin:20px 0px;">删除后的后果可是很严重的
            <p>
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">确 认</button>
                <button type="button" class="btn btn-default" onclick="consoleDelete()">不我在想想</button>
            </p>
        </div>
    </div>
</div>


<div class="container">
    {% block content %} {% endblock %}
    {# 分页 #}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {# 首页按钮，固定page=1 #}
            <li><a href='?page=1'>首页</a></li>
            {# 如果上一页还有数据，那么让其可继续点击进入上一页 #}
            {% if cons.has_previous %}
                <li><a href="?page={{ cons.previous_page_number }}" data-ey_fc35fdc="html"
                       data-tmp="1">上一页</a>
                </li>
                {# 如果上一页没有数据了，那么不让做任何操作 #}
            {% else %}
            {% endif %}

            {# 由后端经逻辑判断后的page_range页数列表进行迭代 #}
            {% for num in cons.paginator.page_range %}
                {# 如果循环的页码与当前查看的页码相等，那么就让其高亮显示 #}
                {% if num == cons.number %}
                    <li class="thisclass"><a>{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}" data-ey_fc35fdc="html" data-tmp="1">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {# 如果当前页还有下一页，那么让其可以点击进入下一页 #}
            {% if cons.has_next %}
                <li><a href="?page={{ cons.next_page_number }}" data-ey_fc35fdc="html"
                       data-tmp="1">下一页</a></li>
            {% endif %}

            {# 跳转到尾页，让page参数直接等于总页数 #}
            <li><a href='?page={{ paginator.num_pages }}'>尾页</a></li>
        </ul>
    </nav>
</div>


<script src="{% static 'js/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'Plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
{% block js %}
    <script>
        {#当前要删除的ID#}
        DELETE_ID = 0

        function deleteAction(id) {
            DELETE_ID = id;
            console.log(id);
            $('#myModal').modal('show');
        }

        function confirmDelete() {
            $.ajax({
                url: "/admin/delete/",
                type: "GET",
                data: {
                    aid: DELETE_ID
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //删除成功，刷新页面
                        window.location.href = "/login/";
                    } else {
                        alert(res.error);
                    }
                }
            })
        }

        function consoleDelete() {
            DELETE_ID = 0;
            $('#myModal').modal('hide');
        }
    </script>
{% endblock %}


</body>
</html>
