{% extends 'layout.html' %}

{% block content %}

    <div style="margin-bottom: 10px; display: flex; align-items: center;">
        <a class="btn btn-success" href="/major/add/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加专业</a>

        <form method="get" action="{% url 'major_query_name' %}" style="margin-left: 10px;">
            <label>
                <input type="text" name="qn" value="{{ query }}" placeholder="查询专业名称">
            </label>
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
            </button>
        </form>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>专业名称</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        {% for major in major_objects %}
            <tr>
                <td>{{ major.id }}</td>
                <td>{{ major.name }}</td>
                <td>
                    <a href="/major/delete/?aid={{ major.id }}" class="btn btn-warning">删除</a>
                    <a href="/major/edit/?aid={{ major.id }}" class="btn btn-danger">修改</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}