{% extends 'layout.html' %}

{% block content %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>学生姓名</th>
            <th>查看简历</th>
        </tr>
        </thead>
        <tbody>
        {% for ob in student_enterprise_object2 %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ ob.student.name }}</td>
                <td>
                    <a href="{% url 'media' ob.student.jianli %}" target="_blank" class="btn btn-warning">查看</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}